body {
  background-color: #fff;
  background-image: url("https://farm1.staticflickr.com/805/41417961051_f1a22ba898.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100%;
}

.thankYouWrap {
  text-align: center;
  color: #fff;
  width: 80%;
  margin: auto;
}



.thankYouWords {
  text-align: center;

  padding-top: 100px;

  color: #fff;
  text-shadow: .05em .1em .25em #151515;
}

a {
  color: #f00;
}

a:hover {
  color: #f00;
  font-weight: bold;
  text-decoration: none;
}


@media (max-width: 700px) {
  .thankYouWords h1 {font-size: 24px;}
  .thankYouWords p {font-size: 12px;}
}
